@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap'); /*Importando as fotes utilizadas*/

*{
    margin: 0; /*Removendo toda a margem externa*/
    padding: 0; /*Removendo toda a margem interna*/
    /*Possibilidade de uso de um reset.css pra aplicar essas definições*/
}

body{
    height: 100vh; /* 100% da altura do viewport, ocupando toda a altura visível do dispositivo */
    box-sizing: border-box; /* Inclui padding e border na largura e altura totais do elemento 
    Se a largura estabelecida é 200px, você acrescenta um padding de 40px e uma borda de 20px o valor final será de 260px
    Se você usa border-box e a largura estabelecida for 200px então o padding e a border estarão dentro desses 200px */
    background-color: #000000; /* Cor de fundo de todo site */
    color: #F6F6F6; /* Cor da letra de todo site */
}

.titulo-destaque{
    color: #22D4FD; /* Mudando a cor apenas do título em destaque pra azul */
}

.apresentacao{
    margin: 10% 15%; /* Margem superior e inferior de 10% e margens laterais de 15% */
    display: flex; /* Display flex pra centralizar os conteúdos e deixar com space-between */
    align-items: center; /* Centralizando os elementos verticalmente */
    justify-content: space-between; /* Distribuindo o espaço disponível entre os elementos */
}
.apresentacao__conteudo{
    width: 615px; /* Definindo a largura do elemento */
    display: flex; /*DisplayFlex para organizar os elementos em coluna, ou seja, uma embaixo da outra*/
    flex-direction: column; /* Organizando os elementos em coluna, ou seja, uma embaixo da outra */
    gap: 40px; /* Espaço de 40px entre os elementos */
}

.apresentacao__conteudo__titulo{
    font-size: 36px; /* Tamanho da fonte o título */
    font-family: 'Krona One', sans-serif; /* Fonte do título */
}

.apresentacao__conteudo__texto{
    font-size: 24px; /* Tamanho do texto do conteúdo */
    font-family: 'Montserrat', sans-serif; /* Fonte do texto do conteúdo */
}

.apresentacao__links{
    display: flex; /*  Display flex pra colocar space between*/
    justify-content: space-between; /* Distribuindo o espaço disponível entre os elementos */
}

.apresentacao__links__link{
    background-color: #22D4FD; /* Cor de fundo do botão */
    width: 280px; /* Largura do botao */
    text-align: center; /* Alinhando o botão ao centro horizontalmente */
    border-radius: 16px; /* Bordas arredondadas */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: 600; /* Peso da fonte */
    padding: 21.5px 0; /* Padding do botão superior sem padding lateral porque ja ta centralizado */
    text-decoration: none; /* Removendo a decoração do texto (linha embaixo do link) */
    color: #000000; /* Cor da letra */
    font-family: 'Montserrat', sans-serif; /* Fonte do botão */
}
